flows.json
[{"id":"45505ed7.b1e8b","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"b9e7c823.5f0338","type":"mqtt in","z":"45505ed7.b1e8b","name":"AM102","topic":"v3/wfg-app@gowifi/devices/24e124128a177186/up","qos":"0","datatype":"auto","broker":"43d5257b.50de4c","nl":false,"rap":true,"rh":0,"x":110,"y":240,"wires":[["bb88afbe.608a4"]]},{"id":"bb88afbe.608a4","type":"json","z":"45505ed7.b1e8b","name":"","property":"payload","action":"","pretty":false,"x":270,"y":240,"wires":[["771c3f40.a414c","7d899d52.f526e4","d8fab6cb.3b1cd8","bcb97db5.60ba6","2b82dfee.61de3","2c98fece.a257f2","dbf5c16.3d3e04"]]},{"id":"771c3f40.a414c","type":"change","z":"45505ed7.b1e8b","name":"AM102-Temp","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.uplink_message.decoded_payload.temperature","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":240,"wires":[["19954010.ffa65"]]},{"id":"7e291d4b.d71dd4","type":"debug","z":"45505ed7.b1e8b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1170,"y":240,"wires":[]},{"id":"7d899d52.f526e4","type":"debug","z":"45505ed7.b1e8b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":450,"y":80,"wires":[]},{"id":"d8fab6cb.3b1cd8","type":"change","z":"45505ed7.b1e8b","name":"AM102-Humidity","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.uplink_message.decoded_payload.humidity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":320,"wires":[["cf528472.a31ab8"]]},{"id":"bcb97db5.60ba6","type":"change","z":"45505ed7.b1e8b","name":"AM102-Pressure","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.uplink_message.decoded_payload.pressure","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":400,"wires":[["a5704fbf.b6ccb"]]},{"id":"2b82dfee.61de3","type":"change","z":"45505ed7.b1e8b","name":"AM102-Light-Level","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.uplink_message.decoded_payload.illumination","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":480,"wires":[["c5903bab.139858"]]},{"id":"2c98fece.a257f2","type":"change","z":"45505ed7.b1e8b","name":"AM102-CO2","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.uplink_message.decoded_payload.co2","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":560,"wires":[["ebfdcdd.b07133"]]},{"id":"dbf5c16.3d3e04","type":"change","z":"45505ed7.b1e8b","name":"AM102-Total-Volatile-Organic-Compound","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.uplink_message.decoded_payload.tvoc","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":640,"wires":[["55794d3d.582664"]]},{"id":"d2339b21.5568a8","type":"debug","z":"45505ed7.b1e8b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1170,"y":320,"wires":[]},{"id":"bee17ed5.a97c4","type":"debug","z":"45505ed7.b1e8b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1170,"y":400,"wires":[]},{"id":"69b6700b.5f91","type":"debug","z":"45505ed7.b1e8b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1170,"y":480,"wires":[]},{"id":"eb7db0.7746025","type":"debug","z":"45505ed7.b1e8b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1170,"y":560,"wires":[]},{"id":"e86c2f02.79bfe","type":"debug","z":"45505ed7.b1e8b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1170,"y":640,"wires":[]},{"id":"19954010.ffa65","type":"ha-entity","z":"45505ed7.b1e8b","name":"AM102-Temp-Sensor","server":"f36392ec.aae1c","version":1,"debugenabled":true,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"AM102-Temp-Sensor"},{"property":"device_class","value":""},{"property":"icon","value":"sensor:temperature"},{"property":"unit_of_measurement","value":"C"}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"$entity().state ? \"on\": \"off\"","outputPayloadType":"jsonata","x":860,"y":240,"wires":[["7e291d4b.d71dd4"]]},{"id":"cf528472.a31ab8","type":"ha-entity","z":"45505ed7.b1e8b","name":"AM102-Humid-Sensor","server":"f36392ec.aae1c","version":1,"debugenabled":true,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"AM102-Humid-Sensor"},{"property":"device_class","value":""},{"property":"icon","value":"sensor:water-percent"},{"property":"unit_of_measurement","value":"%"}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"$entity().state ? \"on\": \"off\"","outputPayloadType":"jsonata","x":860,"y":320,"wires":[["d2339b21.5568a8"]]},{"id":"a5704fbf.b6ccb","type":"ha-entity","z":"45505ed7.b1e8b","name":"AM102-Pressure-Sensor","server":"f36392ec.aae1c","version":1,"debugenabled":true,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"AM102-Pressure-Sensor"},{"property":"device_class","value":""},{"property":"icon","value":"sensor:temperature"},{"property":"unit_of_measurement","value":"hPa"}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"$entity().state ? \"on\": \"off\"","outputPayloadType":"jsonata","x":870,"y":400,"wires":[["bee17ed5.a97c4"]]},{"id":"c5903bab.139858","type":"ha-entity","z":"45505ed7.b1e8b","name":"AM102-Light-Level-Sensor","server":"f36392ec.aae1c","version":1,"debugenabled":true,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"AM102-Light-Level-Sensor"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"lux"}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"$entity().state ? \"on\": \"off\"","outputPayloadType":"jsonata","x":880,"y":480,"wires":[["69b6700b.5f91"]]},{"id":"ebfdcdd.b07133","type":"ha-entity","z":"45505ed7.b1e8b","name":"AM102-CO2-Sensor","server":"f36392ec.aae1c","version":1,"debugenabled":true,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"AM102-CO2-Sensor"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"ppm"}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"$entity().state ? \"on\": \"off\"","outputPayloadType":"jsonata","x":860,"y":560,"wires":[["eb7db0.7746025"]]},{"id":"55794d3d.582664","type":"ha-entity","z":"45505ed7.b1e8b","name":"AM102-Total-Organic-Matter-Sensor","server":"f36392ec.aae1c","version":1,"debugenabled":true,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"AM102-Total-Organic-Matter-Sensor"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"ppb"}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"$entity().state ? \"on\": \"off\"","outputPayloadType":"jsonata","x":910,"y":640,"wires":[["e86c2f02.79bfe"]]},{"id":"43d5257b.50de4c","type":"mqtt-broker","name":"WFGMQTTBroker","broker":"au1.cloud.thethings.industries:1883","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"f36392ec.aae1c","type":"server","name":"Home Assistant","version":1,"legacy":false,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":false,"cacheJson":true}]